[Unit]
Description=Bitcoin Neutral's distributed currency daemon
After=network.target

[Service]
User=bitcoinneutral
Group=bitcoinneutral

Type=forking
PIDFile=/var/lib/bitcoinneutrald/bitcoinneutrald.pid

ExecStart=/usr/bin/bitcoinneutrald -daemon -pid=/var/lib/bitcoinneutrald/bitcoinneutrald.pid \
          -conf=/etc/bitcoinneutral/bitcoinneutral.conf -datadir=/var/lib/bitcoinneutrald

ExecStop=-/usr/bin/bitcoinneutral-cli -conf=/etc/bitcoinneutral/bitcoinneutral.conf \
         -datadir=/var/lib/bitcoinneutrald stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
